server:
  port: 8080

spring:
  datasource:
    url: ${DB_URL}
    username: ${DB_USERNAME}
    password: ${DB_PASSWORD}
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        show_sql: false

  data:
    redis:
      url: ${REDIS_URL}

auth:
  jwt:
    secret-key: ${JWT_SECRET}
    access-exp: 3600000
    refresh-exp: 604800000
    header: Authorization
    prefix: Bearer

youtube:
  api-key: ${YOUTUBE_API_KEY}

logging:
  level:
    org.hibernate.SQL: INFO
